.banner-slider-container {
  width: 100%;
  max-width: 1220px; 
  height:100%;
  margin:40px auto;    
  padding: 0 8px;  
  box-sizing: border-box; 
}

.banner-slider-container .slick-slide {
  max-height: 270px; 
}

.banner-slider-container .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  border-radius: 15px;
}


.banner-slider-container .slick-dots {
  bottom: 8px; 
}

.banner-slider-container .slick-dots li button:before {
  font-size: 9px; 
  color: white; 
  opacity: 0.25;
}

.banner-slider-container .slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}