.ofertasDropdown {
  position: absolute;   /* Permite que el menú flote */
  top: 100%;            /* Lo posiciona EXACTAMENTE al final del contenedor del botón */
  left: 0;              /* Lo alinea a la izquierda */
  
  width: 850px;
  
  /* Estilos visuales */
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 1000;
  padding: 20px;
  
  /* IMPORTANTE: Añadimos un pequeño padding-top para darle aire,
     en lugar de un margin que crearía un espacio muerto. */
  padding-top: 30px; 
}

/* Título */
.ofertasDropdown h4 {
  color: #003366;
  text-align: left;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

/* --- Estilos del carrusel para fondo blanco --- */
.ofertaSlide {
  padding: 0 10px;
  color: #333;
  text-align: center;
}

.ofertaImage {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
}

.ofertaTitle {
  font-size: 0.9rem;
  margin: 10px 0 5px 0;
}

.ofertaPrice {
  font-size: 1rem;
  font-weight: bold;
  color: #0055a5;
}



/* Flechas y puntos del carrusel para fondo claro */
.ofertasDropdown :global(.slick-prev):before,
.ofertasDropdown :global(.slick-next):before {
  color: #333;
}

.ofertasDropdown :global(.slick-dots li button):before {
  color: #cccccc;
}

.ofertasDropdown :global(.slick-dots li.slick-active button):before {
  color: #0055a5;
}