.splash-overlay {
  position: fixed;
  inset: 0;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999999;

  overflow: hidden;
}

/* ========================= */
/* CONTENIDO */
/* ========================= */

.splash-content {
  text-align: center;
  z-index: 2;
}


.splash-line {
  width: 0;
  height: 4px;

  margin: 18px auto;

  border-radius: 50px;

  background: linear-gradient(
    90deg,
    #96c121,
    #135eab
  );

  animation: lineGrow .45s ease forwards;

  animation-delay: .25s;
}

.splash-text {
  margin: 0;

  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;

  color: #135eab;

  opacity: 0;

  animation: textAppear .4s ease forwards;

  animation-delay: .55s;
}

/* ========================= */
/* WIPE EFFECT */
/* ========================= */

.screen-wipe {
  position: absolute;

  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(150,193,33,.95),
    rgba(19,94,171,.95)
    );

  z-index: 3;

  transform: translateX(0);
}

.screen-wipe.active {
  animation: wipeScreen .5s cubic-bezier(.22,1,.36,1) forwards;
}

.splash-logo {
  width: 240px;
  position: relative;

  animation:
  logoReveal .7s cubic-bezier(.22,1,.36,1) forwards,
  pulseGlow .8s ease-in-out 1;
}

@keyframes pulseGlow {

  0% {
    filter: drop-shadow(0 0 0 rgba(19,94,171,0));
  }

  50% {
    filter: drop-shadow(0 0 12px rgba(19,94,171,.25));
  }

  100% {
    filter: drop-shadow(0 0 0 rgba(19,94,171,0));
  }
}

/* ========================= */
/* ANIMACIONES */
/* ========================= */

@keyframes logoReveal {
  from {
    opacity: 0;
    transform:
      translateY(20px)
      scale(.94);
  }

  to {
    opacity: 1;
    transform:
      translateY(0)
      scale(1);
  }
}

@keyframes lineGrow {
  from {
    width: 0;
  }

  to {
    width: 180px;
  }
}

@keyframes textAppear {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes wipeScreen {

  0% {
    transform: translateX(0);
    left: -100%;
  }

  100% {
    transform: translateX(100%);
    left: 0;
  }
}