.promo-section {
    padding: 20px 20px;

}

.promo-grid-container {
    max-width: 1180px;
    margin: 20px auto;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.promo-card {
    position: relative; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.promo-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.promo-card img {
    width: 100%;
    height: 100%;
    display: block; 
    object-fit: cover; 
}


.card-label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 38, 84, 0.7);
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
}

/* --- DISEÑO RESPONSIVO --- */

/* Para tablets */
@media (max-width: 800px) {
    .promo-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Para móviles */
@media (max-width: 400px) {
    .promo-grid-container {
        /* Pasa a 1 sola columna en móviles */
        grid-template-columns: 2fr;
    }
}
