<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. FORZAR HTTPS Y QUITAR WWW (Vital para SEO y seguridad)
  RewriteCond %{HTTPS} off [OR]
  RewriteCond %{HTTP_HOST} ^www\. [NC]
  RewriteRule ^(.*)$ https://disdelsa.com/$1 [L,R=301]

  # 3. QUITAR SLASH FINAL (Para evitar contenido duplicado)
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)/$ /$1 [L,R=301]

  # 4. REGLA MAESTRA PARA REACT (Evita la pantalla en blanco al refrescar)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>