/* --- CONTENEDOR DEL CARRUSEL --- */
.product-carousel-container {/*-------PARA COREJIR--------*/
  width: 100%;
  min-height: 500px; /* Aumentamos para PC */
  height: auto;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px 40px 40px 40px; 
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  /* Permitimos que se vea lo que sobresale (sombras y botones) */
}

/* 🔥 FIX MAESTRO: Evita que el carrusel corte los botones abajo */
.product-carousel-container .slick-list {/*-------PARA COREJIR------*/
  padding-bottom: 30px !important; 
}

.carousel-title {/*-----PARA CORREJIR-----*/
  display: inline-block;
  padding: 6px 24px;
  background-color: white;
  border: 1px solid #b4dbed;
  border-radius: 50px;
  margin-bottom: 25px;
  font-size: 1.1rem;
  font-weight: 700;
  color: #135eab;
}

/* --- FLECHAS VERDES (Z-INDEX ALTO) ---COREJIR */
.slick-prev, .slick-next {
  width: 45px;
  height: 45px;
  z-index: 100 !important; /* 🔥 Súper alto para que las tarjetas no la tapen */
  top: 45%;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 35px; /* Flechas más imponentes */
  color: #96c121 !important;
  opacity: 1;
}

.slick-track {
display: flex !important;
align-items: stretch;
}
.slick-slide {
height: inherit !important;
display: flex !important;
justify-content: center;
}
.slick-slide > div {
width: 100%;
display: flex;
padding: 10px 8px;
}


/* --- RESPONSIVO --- */

@media (max-width: 800px) {
  .product-carousel-container {
    padding: 10px 20px;
    min-height: 460px; /* 👈 Subimos de 380 a 460 para que quepa todo */
  }
  .slick-prev { left: -10px; }
  .slick-next { right: -10px; }
}

@media (max-width: 480px) {
.product-carousel-container {
padding: 10px 10px 50px 10px; /* Casi nada de espacio lateral en móvil */
min-height: 380px;
overflow: visible !important; 
}
.carousel-title {
font-size: 0.95rem;
margin-left: 5px;
}

.slick-track {
  display: flex !important;
  align-items: stretch; /* Obliga a que todas midan lo mismo */
}

}
